
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir que qualquer pessoa crie um log (faça check-in)
    match /logs/{logId} {
      allow create: if true;
      // Apenas usuários autenticados (admins) podem ler, atualizar ou deletar logs
      allow read, update, delete: if request.auth != null;
    }

    // Apenas usuários autenticados (admins) podem gerenciar motoristas
    match /drivers/{driverId} {
      allow read, write: if request.auth != null;
    }
  }
}
